<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calculo</title>
	<link rel="stylesheet" type="text/css" href="css/boton.css">
</head>

<body>
	<form>
		<div id="modal">
			<div id="modal_bg">
				<div id="modal_main">
				<span id="cerrar" id="exit" >&times;</span>
					<p>
						<h1>Estimado estudiante,<br><br>
						Con el fin de poder evaluar las competencias esperadas dentro del siguiente examen, durante la presentación de este encontrara 2 formularios de validación de identidad al igual que se realizarán captura de imágenes durante el examen esto nos ayudara a evaluarlo y evidenciar el desarrollo de las competencias y habilidades esperadas dentro de la materia en curso.<br><br>
						Por favor ingrese al link:<br><br> http://www.poli.edu.co/sites/default/files/terms/terminos_y_condiciones_poli2016.pdf y lea los términos y condiciones de uso sitios web del Politécnico Grancolombiano.</p></h1>
					<input type="checkbox" name="check" id="check" >
					<a href="">Aceptar</a>
				</div>
			</div>
		</div>
			<div class="button">
				<button type="btn" id="button" onclick="abrir ();">Iniciar Examen</button>
				<button type="button" id="exit" onclick="redireccion ();">Cancelar</button>
			</div>
	</form>
</body>

<script type="text/javascript" src="js/botones.js"></script>

</html>
