<!DOCTYPE html>

<html lang="en">
    <head>        
        <meta charset="UTF-8">
        <title>Poli-Antifraude</title>
        <link rel="stylesheet" type="text/css" href="css/menu.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/olton/Metro-UI-CSS/develop/build/css/metro-icons.min.css">
    </head>
    <body>
        <div class="container">
            <span class="mif-chevron-left mif-3x boton"></span>
            <nav>
                <ul id="menu_principal">
                    <li>
                        <label for="drop-1">
                            <span class="mif-books mif-3x principales"></span>Materias
                            <span class="mif-chevron mif-2x derecha"></span>
                            <span class="mif-chevron-right mif-2x derecha"></span>
                        </label>
                        <input type="checkbox" id="drop-1">
                        <ul>
                            <li><a href="materias.html">Calculo</a></li>
                            <li><a href="">Fisica</a></li>
                            <li><a href="">Pensamiento Algoritmico</a></li>
                            <li><a href="">Paradigmas</a></li>
                        </ul>
                    </li>
                    <li><a href="login.html"><span class="mif-exit mif-3x principales"></span>Salir</a></li>
                </ul>
            </nav>
        </div>

        <script src="js/menu.js"></script>
    </body>
</html>