<!DOCTYPE html>

<html lang="en">
    <head>        
        <meta charset="UTF-8">
        <title>Recuperar Contraseña</title>
        <link rel="stylesheet" href="css/estilos.css">

    </head>
    <body>
        <form action="enviar.php" method="post" onsubmit="return enviar()";>
            <h1>Recuperar Contraseña</h1>
             <input type="text" id="usuario" name="usuario" placeholder="Ingrese su Usuario"/>
             <input type="email" id="email" name="email"placeholder="Ingrese su Correo"/>
             <button type="button"><a href="login.html">Cancelar</button>
             <button type="submit" value="enviar">Enviar</button>
        </form>
            
            <script src="js/registrar.js"></script>
    </body>
</html>