<!DOCTYPE html>

<html lang="en">
    <head>        
        <meta charset="UTF-8">
        <title>Iniciar Sesión</title>
        <link rel="stylesheet" href="css/estilos.css">
    </head>
    <body>
        <form action="iniciar.php" method="post" onsubmit="return iniciar();">
            <h1>Poli Anti-Fraude</h1>
            <div class="contenedor-inputs"> 
                <input type="text" id="usuario" name="usuario" placeholder="Ingrese su Usuario" >
                <input type="password" id="clave" name="clave" placeholder="Ingrese su Contraseña" >
                <button type="button" value="registrar"><a href="registrar.html">Registrarse</button></a>
                <button type="submit" value="iniciar">Iniciar Sesión</button>    
                <p class="form_link">¿Olvidaste tu Contraseña? <a href="recuperar.html"><br>Ingresa Aquí</a></p>
            </div>
        </form>

        <script src="js/iniciar.js"></script>
    </body>
</html>