<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Camera</title>
    <script src="/js/p5.js" type="text/javascript"></script>
    <script src="/js/clmtrackr.js" type="text/javascript"></script>
    <script src="/js/model_pca_20_svm.js" type="text/javascript"></script>
    <script src="/js/p5.dom.js" type="text/javascript"></script>
    <script src="/js/p5.sound.js" type="text/javascript"></script>
    <script src="/js/sketch2.js" type="text/javascript"></script>
</head>
<body>

</body>
</html>