<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <head>
        <title>Poli-Antifraude</title>
        <link rel="stylesheet" type="text/css" href="/css/menu.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/olton/Metro-UI-CSS/develop/build/css/metro-icons.min.css"/>
    </head>
</head>
<body>
<div class="container">
    <span class="mif-chevron-left mif-3x boton"></span>
    <nav>
        <ul id="menu_principal">
            <li>
                <label for="drop-1">
                    <span class="mif-books mif-3x principales"></span>Materias
                    <span class="mif-chevron mif-2x derecha"></span>
                    <span class="mif-chevron-right mif-2x derecha"></span>
                </label>
                <input type="checkbox" id="drop-1"/>
                <ul>
                    <li><a th:href="@{/welcome}">Calculo</a></li>
                    <li><a th:href="@{/welcome}">Fisica</a></li>
                    <li><a th:href="@{/welcome}">Pensamiento Algoritmico</a></li>
                    <li><a th:href="@{/welcome}">Paradigmas</a></li>
                </ul>
            </li>
            <li><a th:href="@{/admin}"><span class="mif-organization mif-3x principales"></span>Administrar</a></li>
            <li><a th:action="@{/logout}"><span class="mif-exit mif-3x principales"></span>Salir</a></li>
        </ul>
    </nav>
</div>








<a style="color:blue" th:href="@{/welcome}">Go to User Welcome Page!</a>
<br/>
<a style="color:blue" th:href="@{/admin}">Go to Admin Page!</a>
</body>
</html>