<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/estilos.css"/>
    <script src="/js/iniciar.js"></script>
</head>
<body>
<div th:if="${param.error}">
    <h1 style="color:whitesmoke; position: center">Usuario y Contraseña Incorrectos. Intente Nuevamente.</h1>

</div>
<div th:if="${param.logout}">
</div>
<form th:action="@{/login}" method="post" onsubmit="return iniciar();">
    <h1>Poli Anti-Fraude</h1>
            <div class="contenedor-inputs"> 
                <input type="text" id="usuario" name="username" placeholder="Ingrese su Usuario" />
                <input type="password" id="clave" name="password" placeholder="Ingrese su Contraseña" />
                <button type="button" value="registrar">Registrarse</button>
                <button type="submit" value="Sign In">Iniciar Sesión</button>
                <p class="form_link">¿Olvidaste tu Contraseña? <a th:href="@{/recuperar}"><br></br>Ingresa Aquí</a></p>
            </div>
</form>
</body>
</html>