<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/estilos.css"/>
    <script src="/js/iniciar.js"></script>
</head>
<body>
<div th:if="${param.error}">
    <h1 style="color:red">Username or Password is wrong. Please check again</h1>

</div>
<div th:if="${param.logout}">
    <h1 style="color:blue">Logged out.</h1>
</div>
<form th:action="@{/login}" method="post" onsubmit="return iniciar();">
    <h1>Poli Anti-Fraude</h1>
            <div class="contenedor-inputs"> 
                <input type="text" id="usuario" name="usuario" placeholder="Ingrese su Usuario" />
                <input type="password" id="clave" name="clave" placeholder="Ingrese su Contraseña" />
                <button type="button" value="registrar"><a href="registrar.html">Registrarse</button></a>
                <button type="submit" value="iniciar">Iniciar Sesión</button>    
                <p class="form_link">¿Olvidaste tu Contraseña? <a href="recuperar.html"><br>Ingresa Aquí</a></p>
            </div>
</form>
</body>
</html>