<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Poliantifraude</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Porfavor Contestar las Siguientes Preguntas</h2>
    <p>Estas preguntas son tomadas de la informacion que registro del estudiante o si actualizo datos.</p>
    <form>
        <div class="form-group">
            <label for="preg1"><p th:text="'Usuario: ' + ${user.usuario}" /></label>
            <input type="text" class="form-control" id="preg1"></input>
        </div>
        <div class="form-group">
            <label for="preg2">Pregunta 2:</label>
            <input type="text" class="form-control" id="preg2"></input>
        </div>
        <div class="form-group">
            <label for="preg3">Pregunta 3:</label>
            <input type="text" class="form-control" id="preg3"></input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" data-dismiss="modal">Seguir</button>
        </div>
    </form>
</div>
</body>
</html>