
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../img/imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
}
form {

    width: 400px;
    border: 2px solid #3032A4;
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow: inset 0 0 20px #031A3B;
    margin: 100px auto;
}
form h1{
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 40pt;
    margin: 30px 0px;
}
form input{
    width: 320px;
    height: 35px;
    padding: 0px 10px;
    margin: 10px 30px;
    color: #010357;
    text-align: center;
}
form button{
    width: 155px;
    margin: 20px 0px 30px 30px;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 10pt;
    background: transparent;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
form button:hover{
    background: rgb(12,56,215);
    background: -moz-linear-gradient(top,  rgba(12,56,215,1) 0%, rgba(7,14,91,1) 62%);
    background: -webkit-linear-gradient(top,  rgba(12,56,215,1) 0%,rgba(7,14,91,1) 62%);
    background: linear-gradient(to bottom,  rgba(12,56,215,1) 0%,rgba(7,14,91,1) 62%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c38d7', endColorstr='#070e5b',GradientType=0 );
}
form button:active {
    background: rgb(7,14,91);
    background: -moz-linear-gradient(top,  rgba(7,14,91,1) 38%, rgba(12,56,215,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(7,14,91,1) 38%,rgba(12,56,215,1) 100%);
    background: linear-gradient(to bottom,  rgba(7,14,91,1) 38%,rgba(12,56,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070e5b', endColorstr='#0c38d7',GradientType=0 );
}
form p{
    margin: 0px;
    padding: 0px;
    font-size: 25pt;
    text-align: center;
    color: #fff;
}
form a{
    color: #fff;
    font-size: 10pt;
}
@media (max-width: 280px){
    form {
        width: 100%
    }
}
