body{
	background-image: url(../img/calculo.jpg);
	background-size: cover;
	background-attachment: fixed;
}
 form button{
	text-align: center;
	font-size: 20px;
	margin-left: 26%;
	margin-top: 55%;
	color: #fff;
	display: 10px;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: transparent;
    box-shadow: inset 0 0 6px #fff;
}
form a{
    color: #fff;
    font-size: 20px;
}
 form button:hover{
    background: rgb(12,56,215); 
    background: -moz-linear-gradient(top,  rgba(12,56,215,1) 0%, rgba(7,14,91,1) 62%); 
    background: -webkit-linear-gradient(top,  rgba(12,56,215,1) 0%,rgba(7,14,91,1) 62%); 
    background: linear-gradient(to bottom,  rgba(12,56,215,1) 0%,rgba(7,14,91,1) 62%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c38d7', endColorstr='#070e5b',GradientType=0 ); 
}
 form button:active {
    background: rgb(7,14,91); 
    background: -moz-linear-gradient(top,  rgba(7,14,91,1) 38%, rgba(12,56,215,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(7,14,91,1) 38%,rgba(12,56,215,1) 100%); 
    background: linear-gradient(to bottom,  rgba(7,14,91,1) 38%,rgba(12,56,215,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070e5b', endColorstr='#0c38d7',GradientType=0 ); 
}
#modal{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;

}
#modal_bg{
	background: rgba(0,0,0,.7);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
}
#modal_main{
	position: fixed;
	width: 50%;
	height: 400px;
	background: #3f3f3f;
	border-radius: 6px;
	box-shadow: inset 0 0 3px #fff;
	top: 9%;
	left: 24%;
	z-index: 1;
}
h1{
	margin: 15px;
	color: #fff;
	font-size: 17px;
	text-align: left;
}
span{
	margin: 15px;
	font-size: 20px;
	text-align: right;
	color: #fff;
	cursor: pointer;

}
input{
	margin: 45px;
	width: 50px;
	font-size: 20px;
}